@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    .myUsername{
            color: white !important;
            transition: color 650ms;
        }
        .myUsername:hover{
            color: #ffc107 !important;
        }
    .myLogin{
            color: white !important;
            transition: color 650ms;
        }
        .myLogin:hover{
            color: #ffc107 !important;
        }
</style>

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link myUsername" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link myLogin">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link myUsername" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link myLogin" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
