@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="jumbotron border border-warning" style="border-bottom: 5px #ffc107 solid!important;">
        <div class="container-fluid text-right myJumbotronText">
            <h1>Welcome To My Portfolio</h1>
            <p>My name is Jason Rice and I'm a full stack software engineer.</p>
            <p>I work with Microsoft's ASP.Net Core MVC stack and Microsoft Azure.</p>
            <a class="myTitleGitHubLink" href="https://github.com/Mashalot">Checkout my GitHub!</a>
        </div>
    </div>

    <div>
        <div class="container-fluid bg-3 text-center">
            <h3 class="text-dark">My Technical Skills Include</h3><br>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-primary">Primary</button>
                </div><br /><br />
                <div class="col-sm-12">
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                </div><br /><br />
                <div class="col-sm-12">
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-success">Success</button>
                </div><br /><br />
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-info">Info</button>
                </div><br /><br />
                <div class="col-sm-12">
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                </div><br /><br />
                <div class="col-sm-12">
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                </div><br /><br />
                <div class="col-sm-12">
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                </div><br /><br />
                <div class="col-sm-12">
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-light">Light</button>
                </div>
            </div>
        </div><br><hr class="bg-warning" /><br>
    </div>

    <div>
        <div class="container-fluid bg-3 text-center">
            <h3 class="text-dark">Professional Summary</h3><br>
            <div class="row">
                <div class="col-sm-12">
                    <p style="display:inline;">This web application pulls photos from </p>
                    <a href="https://api.nasa.gov/" style="display:inline;">Nasa's Mars Rover Photos API,</a>
                    <p style="display:inline;"> stores them locally, and displays them in the browser!</p>
                </div>
            </div>
        </div><br><hr class="bg-warning" /><br>
    </div>

    <div>
        <div class="container-fluid bg-3 text-center">
            <h3 class="text-dark">Some of my Work</h3><br>
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://jasonricemarsroverphotos.azurewebsites.net/">
                        <img src="~/Images/MarsRoverApp_Jan4_2020.PNG" class="img-responsive" style="width: 100%;border: 1px black solid;" alt="Image">
                    </a>
                </div>
                <div class="col-sm-6" style="padding-top: 13%;">
                    <a href="https://jasonricemarsroverphotos.azurewebsites.net/" style="font-size:22px;">My Mars Rover Photos Web App</a>
                    <div>
                        <p style="display:inline;">This web application pulls photos from </p>
                        <a href="https://api.nasa.gov/" style="display:inline;">Nasa's Mars Rover Photos API,</a>
                        <p style="display:inline;"> stores them locally, and displays them in the browser!</p>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="container-fluid bg-3 text-center">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://mybudgetwebapp.azurewebsites.net/">
                        <img src="~/Images/MyBudgetApp_Jan4_2020.PNG" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </a>
                </div>
                <div class="col-sm-6" style="padding-top: 13%;">
                    <a href="https://mybudgetwebapp.azurewebsites.net/" style="font-size:22px;">My Budget Web Application</a>
                    <div style="margin-bottom:1rem;">
                        <p style="display:inline;">This web application is meant to help people develop a budget. Too many people live paycheck to paycheck. I believe creating a budget is a huge first step to financial success!</p>
                    </div>
                    <div>
                        <p style="display:inline;">The two charts will be populated using data specific to the user, from a web API built using ASP.Net Core Web API and deployed to Azure. The table at the bottom is a list of income and expenses for each day, built using </p>
                        <a href="https://datatables.net/" style="display:inline;">DataTables JS</a>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="container-fluid bg-3 text-center">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://mydailyplanner.azurewebsites.net/">
                        <img src="~/Images/MyDailyPlannerApp_Jan4_2020.PNG" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </a>
                </div>
                <div class="col-sm-6" style="padding-top: 13%;">
                    <a href="https://mydailyplanner.azurewebsites.net/" style="font-size:22px;">My Daily Planner Application</a>
                    <div style="margin-bottom:1rem;">
                        <p style="display:inline;">I'm building this application to provide a daily planner for family and friends. I plan to build a web api, that I will publish on Azure, to populate the calendar with events for the specific user currently logged in!</p>
                    </div>
                    <div>
                        <p style="display:inline;">This calendar is built using </p>
                        <a href="https://fullcalendar.io/" style="display:inline;">FullCalendar JS</a>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="container-fluid bg-3 text-center">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://github.com/Mashalot">
                        <img src="~/Images/GitHub_Jan4_2020.PNG" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </a>
                </div>
                <div class="col-sm-6" style="padding-top: 13%;">
                    <a href="https://github.com/Mashalot" style="font-size:22px;">Projects in my GitHub Repo</a>
                </div>
            </div>
        </div><br><br>
    </div>


    <div>
        @*<div class="container-fluid bg-3 text-center">
                <h3>Some of my Work</h3><br>
                <div class="row">
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </div>
                </div>
            </div><br>*@
    </div>


</body>