@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>

        <div class="jumbotron border border-warning">
            <div class="container-fluid text-right myJumbotronText">
                <h1>Welcome To My Portfolio</h1>
                <p>My name is Jason Rice and I'm a full stack software developer.</p>
                <p>I work with Microsoft's ASP.Net Core MVC stack and Microsoft Azure.</p>
                <a class="myTitleGitHubLink" href="https://github.com/Mashalot">Checkout my GitHub!</a>
            </div>
        </div>

        <div>
            <div class="container-fluid bg-3 text-center">
                <h3>Some of my Work</h3><br>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="https://jasonricemarsroverphotos.azurewebsites.net/">
                            <img src="~/Images/MarsRoverApp_Jan3_2020.PNG" class="img-responsive" style="width: 100%;border: 1px black solid;" alt="Image">
                        </a>
                    </div>
                    <div class="col-sm-6" style="padding-top: 13%;">
                        <a href="https://jasonricemarsroverphotos.azurewebsites.net/" style="font-size:22px;">My Mars Rover Photos Web App</a>
                        <div>
                            <p style="display:inline;">This web application pulls photos from </p>
                            <a href="https://api.nasa.gov/" style="display:inline;">Nasa's Mars Rover Photos API,</a>
                            <p style="display:inline;"> stores them locally, and displays them in the browser!</p>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="container-fluid bg-3 text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="https://mybudgetwebapp.azurewebsites.net/"><img src="~/Images/MyBudgetApp_Jan3_2020.PNG" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image"></a>
                    </div>
                    <div class="col-sm-6" style="padding-top: 13%;">
                        <a href="https://mybudgetwebapp.azurewebsites.net/" style="font-size:22px;">My Budget Web Application</a>
                        <div>
                            <p style="display:inline;">This web application is meant to help people develop a budget. Too many people live paycheck to paycheck. I believe creating a budget is a huge first step to financial success!</p>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="container-fluid bg-3 text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="https://github.com/Mashalot"><img src="~/Images/GitHub_Jan3_2020.PNG" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image"></a>
                    </div>
                    <div class="col-sm-6" style="padding-top: 13%;">
                        <a href="https://github.com/Mashalot" style="font-size:22px;">Projects in my GitHub Repo</a>
                    </div>
                </div>
            </div><br><br>
        </div>
        

        <div>
            @*<div class="container-fluid bg-3 text-center">
                <h3>Some of my Work</h3><br>
                <div class="row">
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </div>
                    <div class="col-sm-3">
                        <p>Some text..</p>
                        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%;border: 1px black solid;" alt="Image">
                    </div>
                </div>
            </div><br>*@
        </div>


    </body>